NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA551M8if-Hgf6oofS96nZOh3ZMKSqkE2w
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=plan-expense.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=plan-expense
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=plan-expense.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=767896455339
NEXT_PUBLIC_FIREBASE_APP_ID=1:767896455339:web:ade780de3ee44d2405cfee