:root, .light, .light-theme {
  --violet-1: #f5f6f8;
  --violet-2: #eff0f9;
  --violet-3: #e6e9f8;
  --violet-4: #d9dffe;
  --violet-5: #cbd3ff;
  --violet-6: #bbc4ff;
  --violet-7: #a5b0fb;
  --violet-8: #8893f5;
  --violet-9: #5147e5;
  --violet-10: #463bcb;
  --violet-11: #4940d0;
  --violet-12: #26256c;

  --violet-a1: #92933005;
  --violet-a2: #1516a709;
  --violet-a3: #0724c412;
  --violet-a4: #cad3ffaa;
  --violet-a5: #cbd3ff;
  --violet-a6: #bbc4ff;
  --violet-a7: #0120f955;
  --violet-a8: #0119ed73;
  --violet-a9: #0e00dcb6;
  --violet-a10: #1001bcc3;
  --violet-a11: #0e02c1be;
  --violet-a12: #010052d9;

  --violet-contrast: #fff;
  --violet-surface: #eeeef9cc;
  --violet-indicator: #5147e5;
  --violet-track: #5147e5;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --violet-1: oklch(97.2% 0.003 277.5);
      --violet-2: oklch(95.7% 0.0112 277.5);
      --violet-3: oklch(93.6% 0.0213 277.5);
      --violet-4: oklch(90.8% 0.0429 277.5);
      --violet-5: oklch(87.5% 0.0641 277.5);
      --violet-6: oklch(83.4% 0.0853 277.5);
      --violet-7: oklch(77.6% 0.108 277.5);
      --violet-8: oklch(69.6% 0.1441 277.5);
      --violet-9: oklch(51.3% 0.2286 277.5);
      --violet-10: oklch(46.4% 0.2118 277.5);
      --violet-11: oklch(47.8% 0.2118 277.5);
      --violet-12: oklch(31.4% 0.1195 277.5);

      --violet-a1: color(display-p3 0.4784 0.4863 0.0118 / 0.016);
      --violet-a2: color(display-p3 0.0196 0.0235 0.5137 / 0.033);
      --violet-a3: color(display-p3 0.0039 0.0706 0.6902 / 0.065);
      --violet-a4: color(display-p3 0.0078 0.1451 0.9569 / 0.118);
      --violet-a5: color(display-p3 0.0078 0.1451 0.9686 / 0.175);
      --violet-a6: color(display-p3 0.0039 0.1059 0.9569 / 0.235);
      --violet-a7: color(display-p3 0.0039 0.102 0.9059 / 0.324);
      --violet-a8: color(display-p3 0.0039 0.0784 0.8627 / 0.442);
      --violet-a9: color(display-p3 0.0431 0 0.8196 / 0.714);
      --violet-a10: color(display-p3 0.0471 0 0.6941 / 0.763);
      --violet-a11: color(display-p3 0.0392 0 0.7137 / 0.742);
      --violet-a12: color(display-p3 0.0039 0 0.3059 / 0.851);

      --violet-contrast: #fff;
      --violet-surface: color(display-p3 0.9333 0.9333 0.9725 / 0.8);
      --violet-indicator: oklch(51.3% 0.2286 277.5);
      --violet-track: oklch(51.3% 0.2286 277.5);
    }
  }
}